:root {
    --primary-color: #F6F7F9;
    --secondary-color: #EEEEEE;
    --primary-button-color: #4169E1;
    --dark-button-color: #384047;
    --primary-text-color: #343434;
    --seconday-text-color: #53575e;
    --border-color: #d9d9d9;
}

body {
    margin: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 8px;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 0.05fr 0.95fr;
    grid-template-areas:
            "sidebar header"
            "sidebar container";
}

header {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    height: 100%;
    max-width: 250px;
    margin: 0;
    display: inline-block;
    text-align: center;
    position: sticky;
    top: 0;
    border-right: 1px solid var(--border-color);
}

.logo {
    max-width: 100%;
    text-align: center;
    padding: 10px 0;
}

.logo img:nth-of-type(1) {
    max-width: 15%;
}

.logo img:nth-of-type(2) {
    max-width: 50%;
}

.sidebar a {
    display: block;
    text-align: left;
    color: var(--seconday-text-color);
    padding: 0.5rem 0 0.5rem 2rem;
    margin: 0.3rem 0;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: var(--secondary-color)
}

.sidebar input {
    background-color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    flex-basis: 0;
    margin: 1em 0 1em 2rem;
}

.sidebar button {
    border: none;
    background-color: yellow;
}

.sidebar div {
    margin: auto 0;
}

.sidebar form {
    display: flex;
    border: 5px solid crimson;
    border: var(--border-color)
}

.items {
    list-style-type: none;
}

.container {
    grid-area: container;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 35px 25px;
    margin: 0;
    overflow: auto;
}

.container p {
    display: inline;
}

a i {
    padding-right: 1rem;
}