:root {
    --primary-color: #ffffff;
    --secondary-color: #eee;
    --secondary-hover-color: #eee;
    --blue-hover-color: #4169E1;
    --dark-button-color: #384047;
    --primary-text-color: #343434;
    --seconday-text-color: #7e7e7e;
    --grey-text-color: #53575e;
    --border-color: rgba(0, 0, 0, 0.1);
    --outline-color: #0085ff;
    --test: #384047;
}

.color24 {
    background-color: rgb(196,196,196);
    color: rgb(196,196,196);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    user-select: none;
}

button, input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

button {
    cursor: pointer;
}

button:focus, input:focus, button:hover, input:hover  {
    color: var(--blue-hover-color);
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 62px 1.4fr 1.4fr;
    /*grid-template-rows: 0.2fr 1.4fr 1.4fr;*/
    grid-template-columns: 280px 1.2fr 1.2fr;
    /*grid-template-columns: 0.4fr 1.2fr 1.2fr;*/
    grid-template-areas:
            "navbar header header"
            "navbar content content"
            "navbar content content";
}

.header {
    grid-area: header;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 0 15px;
}

.header .info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .color-changer {
    height: 32px;
    width: 32px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    position: relative;
    margin-right: 15px;
}

.header .color-wheel {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header h2 {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.header span {
    font-size: 11px;
    font-weight: 400;
    color: var(--seconday-text-color);
}

.header span:hover {
    cursor:pointer;
}

.header .share i {
    margin-right: 5px;
    color: var(--seconday-text-color);
}

.header .share button {
    border: 1px solid var(--border-color);;
    color: var(--seconday-text-color);
    background-color: var(--primary-color);
    padding: 6px 9px;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.header .share button:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.navbar {
    overflow: auto;
    grid-area: navbar;
    background-color: var(--primary-color);
    padding: 15px;
    border-right: 1px solid var(--border-color);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo i {
    cursor: pointer;
    color: var(--test);
    margin: 0 5px 0 0;
    padding: 5px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.logo i:hover {
    color: #0d70b7;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.logo a {
    max-height: 25px;
}

.logo img {
    max-height: 25px;
}

.search form {
    display: flex;
    margin-top: 20px;
}

.search i {
    color: inherit;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.search button {
    color: var(--seconday-text-color);
}

.search button:hover {
    color: var(--blue-hover-color);
}

.search input {
    background-color: var(--secondary-color);
    margin-right: 5px;
    flex-grow: 1;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.search input:hover::placeholder {
    color: var(--blue-hover-color);
}

.search input::placeholder {
    color: var(--seconday-text-color);
    background-color: var(--secondary-color);
}

.nav-items {
    padding: 10px 0;
    font-weight: 300;
}

.nav-items a {
    color: var(--grey-text-color);
    display: block;
    padding: 8px 16px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.nav-items a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.nav-items i {
    margin-right: 7px;
    width: 15px;
}

.content {
    grid-area: content;
    background-color: var(--secondary-color);
    padding: 25px;
    overflow: auto;
    scrollbar-color: rgba(0, 0, 0, .3);;
    scrollbar-width: thin;
}

.tasks .task-header {
    color: rgba(52,52,52,.6);
    text-transform: uppercase;
    border-right: 4px solid var(--secondary-color);
}

.tasks .task-body {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 0 0 3px 3px;
}

.tasks .task:hover {
    background-color: var(--secondary-color);
}

.tasks .task-footer {
    background-color: var(--secondary-color);
    font-size: 0.8rem;
    color: var(--grey-text-color);
}

.tasks .task-footer:hover {
    outline: 2px solid rgba(0, 0, 0, 0.5);
}

.task-body .task {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.task-body > div, .task-header {
    display: flex;
    align-items: center;
    height: 36px;
}

.task-header .name-cell {
     align-self: flex-end;
    margin-right: 30px;
 }

.task-header .name-cell span:nth-of-type(1) {
    background-color: #579BFC;
    color: white;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: inline-block;
}

.task-header .name-cell span:nth-of-type(2) {
    font-size: 0.7rem;
    color: rgba(52, 52, 52, 0.5);
    font-weight: 500;
    margin: 0 5px;
}

.task-header .prop-cell span {
    font-weight: 500;
    font-size: 12px;
    padding: 2px 3px;
}

.content .name-cell {
    flex: 1 0 308px;
}

.task-body .name-cell {
    margin: 0 15px;
    padding: 3px 5px;
}

.task-body .prop-cell {
    border-right: 1px solid white;
}

.task-body .task .prop-cell:nth-last-child(2) {
    border-right: 0;
}

.content span:focus, .content div:focus {
    outline: 1px dashed rgba(0, 0, 0, 0.2);
}

.task-footer .name-cell:focus {
    outline: none;
}

.task-footer .name-cell:focus ~ div.save, .task-footer .name-cell:focus ~ div.remove {
    opacity: 1;
}

.task-footer .remove:hover {
    color: var(--blue-hover-color);
}

.task-footer div.save {
    text-align: center;
    margin-right: 10px;
    flex: 0 0 50px;
    background-color: var(--blue-hover-color);
    border-radius: 2px;
    padding: 2px 3px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.1s;
}

.task-footer .remove {
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.1s;
}

.content .prop-cell {
    position: relative;
    height: 100%;
    text-align: center;
    flex: 0 0 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .add-cell {
    text-align: center;
    flex: 0 0 38px;
    color: rgba(52,52,52,.6);
    cursor: pointer;
}

.content .add-cell:hover {
    color: var(--blue-hover-color);
}

.status-picker {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    z-index: 1;
    top: 36px;
    left: 0;
    justify-content: center;
    visibility: visible;
    align-items: center;
    transform-origin: 50% 0;
    transition: top 0.1s, opacity 0.1s;
    width: 140px;
    box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
    cursor: auto;
}

.status-picker .labels {
    width: 100%;
    padding: 16px 16px 8px;
    border-bottom: 1px solid var(--border-color);;
}

.status-picker .labels div {
    cursor: pointer;
    color: white;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-bottom: 8px;
}

.status-picker .labels div:last-of-type {
    margin-bottom: 0;
}

.status-picker .edit {
    font-size: 13px;
    cursor: pointer;
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0085ff;
}

.status-picker .edit:hover {
    background-color: #0085ff;
    color: white;
}

.status-picker .edit i {
    margin-right: 10px;
}

.hidden {
    visibility: hidden;
    top: 16px;
    opacity: 0;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    width: 9px;
    border-radius: 4px;
    top: 0;
    cursor: pointer;
    z-index: 2;
}