:root {
    --primary-color: #ffffff;
    --secondary-color: #eee;
    --primary-button-color: #4169E1;
    --dark-button-color: #384047;
    --primary-text-color: #343434;
    --seconday-text-color: #7e7e7e;
    --grey-text-color: #53575e;
    --border-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

button, input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

button {
    cursor: pointer;
}

button:focus, input:focus, button:hover, input:hover {
    color: var(--primary-button-color);
}

input {
    /*background-color: var(--secondary-color);*/
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    grid-template-columns: 280px 1.2fr 1.2fr;
    grid-template-areas:
            "navbar header header"
            "navbar content content"
            "navbar content content";
}

.header {
    overflow: hidden;
    grid-area: header;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 0 15px;
}

.header .info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .color-changer {
    height: 32px;
    width: 32px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    position: relative;
    margin-right: 15px;
}

.header .color-wheel {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h2 {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.header p {
    font-size: 11px;
    font-weight: 400;
    color: var(--seconday-text-color);
}

.header p:hover {
    cursor:pointer;
}

.header .share i {
    margin-right: 5px;
    color: var(--seconday-text-color);
}

.header .share button {
    border: 1px solid var(--border-color);;
    color: var(--seconday-text-color);
    background-color: var(--primary-color);
    padding: 6px 9px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.header .share button:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.navbar {
    overflow: auto;
    grid-area: navbar;
    background-color: var(--primary-color);
    padding: 15px;
    border-right: 1px solid var(--border-color);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo i {
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 5px;
    transition-duration: 0.2s;
}

.logo i:hover {
    color: #0d70b7;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.logo a {
    max-height: 25px;
}

.logo img {
    max-height: 25px;
}

.search form {
    display: flex;
    margin-top: 20px;
}

.search i {
    color: inherit;
    transition-duration: 0.2s;
}

.search button {
    color: var(--seconday-text-color);
}

.search button:hover {
    color: #4169E1;
}

.search input {
    background-color: var(--secondary-color);
    margin-right: 5px;
    flex-grow: 1;
    transition-duration: 1s;
}

.search input:hover::placeholder {
    color: #4169E1;
}

.search input::placeholder {
    color: var(--seconday-text-color);
    background-color: var(--secondary-color);
}

.nav-items {
    padding: 10px 0;
    font-weight: 300;
}

.nav-items a {
    color: var(--grey-text-color);
    display: block;
    padding: 8px 16px;
    transition-duration: 0.2s;
}

.nav-items a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.nav-items i {
    margin-right: 7px;
    width: 15px;
}

.content {
    grid-area: content;
    background-color: var(--secondary-color);
    padding: 25px;
    overflow: auto;
    scrollbar-color: rgba(0, 0, 0, .3);;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    width: 9px;
    border-radius: 4px;
    top: 0;
    cursor: pointer;
    z-index: 2;
}

::-webkit-scrollbar-thumb:hover {

}