.TopMenu > div:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 61px;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 61px;
}

.details i {
  margin-right: 15px;
  cursor: pointer;
}

.details h1 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.tabs {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    margin-top: 1px;
    cursor: pointer;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      padding: 0 15px;
      border-left: 1px solid #e9ebf1;
    }

    span {
      color: #7C828D;
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
    }

    &.active {
      border-bottom: 3px solid #4169e1;
      span {
        color: #4169e1;
      }
    }
  }
}