.root {
  width: 100%;

  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
  }
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 30px;
  color: #505050;
  margin-bottom: 24px;
}

.permissionList {
  display: grid;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #e9ebf0;
  background: #fff;
  overflow-x: auto;

  .tableHead {
    text-transform: uppercase;
    align-items: center;
    height: 43px;
    background: #fafbfc;
    border-bottom: 1px solid #e9ebf0;
    padding: 0;
    margin-bottom: 8px;

    & > div > p {
      font-size: 12px;
      font-weight: 600;
      color: #7c828d;
    }
  }

  & > div {
    display: flex;
    flex-direction: row;
    padding: 8px 0;

    & > div {
      display: flex;
      flex: 0 0 100px;
      justify-content: center;
      align-items: center;
      min-width: 100px;
    }

    &:hover {
      background-color: #fafbfc;
    }

    & > div:first-of-type {
      display: flex;
      flex: 1 0 400px;
      min-width: 400px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    .action {
      align-items: flex-start;
      flex-direction: column;

      .actionTitle {
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #292d34;
        padding-bottom: 7px;
        margin: 0;
      }

      .actionDescription {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #7c828d;
        padding-right: 17px;
      }
    }
  }
}
