.root {
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 21px;
  color: #505050;
  margin: 0 0 30px;
}

.profileSettings {
  display: flex;

  .profilePicture {
    flex: 0 0 63px;
    text-transform: uppercase;
    height: 63px;
    border-radius: 50%;
    background-color: rgb(64, 188, 134);
    display: inline-flex;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
    font-size: 26px;
  }

  .fields {
    display: flex;
    flex-direction: column;
    width: 100%;

    .field {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      margin-bottom: 24px;

      label {
        font-size: 12px;
        font-weight: 500;
        color: #222;
      }

      input {
        display: flex;
        flex-grow: 1;
        outline: none;
        border: none;
        border-bottom: 1px solid #e4e4e4;
        color: #2229;
        font-size: 16px;
        padding: 16px 20px 12px 0;
      }
    }
  }
}

.multiFactorAuth {
  margin: 40px 0;

  .title {
    margin: 0;
    padding-bottom: 12px;
  }

  .subtitle {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #7c828d;
    padding-bottom: 36px;
  }

  .methods {
    display: grid;

    @media (min-width: 992px) {
      grid-template:
        1fr 1fr /
        1fr 1fr;
    }
    grid-gap: 25px;

    & > div {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      height: 82px;
      align-items: center;
      border: 1px solid #e9ebf0;
      border-radius: 4px;
      padding: 12px 25px;

      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > div {
          display: flex;
          flex-direction: column;
          margin-left: 25px;
          padding-right: 30px;

          .name {
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            color: #292d34;
            padding-bottom: 8px;

            & > span {
              margin-right: 10px;
            }
          }

          .description {
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            display: inline-flex;
            flex-wrap: wrap;
            gap: 5px;
            align-items: center;
            color: #7c828d;
          }
        }
      }

      & > button {
      }
    }
  }
}

.codes {
  margin: 30px 0;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;

  .code {
    text-align: center;
    padding: 5px;
  }
}

.loggedInDevices {
  margin: 40px 0;

  .title {
    margin: 0;
    padding-bottom: 12px;
  }

  .subtitle {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #7c828d;
    padding-bottom: 36px;
  }

  .devices {
    & > div {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #d1cfcd;
      color: #292d34;

      & > div {
        flex: 1 0 0;
      }
    }

    .headRow {
      color: #0c0c14;
      font-weight: 600;
    }

    .action {
      margin-right: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.deleteAccount {
  margin: 40px 0;
  padding-bottom: 40px;

  .title {
    margin: 0;
    padding-bottom: 12px;
  }

  .subtitle {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #7c828d;
    padding-bottom: 36px;
  }
}
