.quickActionsToolbar {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 20px;

  & > div {
    margin-left: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #e9ebf0;
    box-sizing: border-box;
    opacity: 0;
  }
}
