.container {
  height: 100vh;
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    color: black;
  }
}

.sidebar {
  min-width: 170px;
  background-color: #f7f7f7;
  width: 170px;
  padding: 40px;
  overflow-y: auto;

  .back {
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    padding: 4px 15px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05rem;
    background-color: #4169e1;
    svg {
      margin-right: 5px;
    }
  }
  h1 {
    color: #505050;
    margin: 0;
    padding-top: 30px;
    font-weight: 500;
    font-size: 22px;
  }
  .workspaceName {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #4169e1;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .userName {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #4169e1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
}
.settings {
  a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 5px 0;
    padding: 10px 0;
    text-decoration: none;
    color: #a19da8;
    &:hover {
      color: #554f5f;
    }
    &.active {
      color: #554f5f;
      font-weight: 700;
    }
  }
}
.content {
  overflow-x: auto;
  padding: 40px;
  display: flex;
  flex-grow: 1;
}
