.taskModal {
  @media (min-width: 1751px) {
    left: calc(50vw - 850px);
  }
}

.contentTab {
  flex: 1 1 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 32px 0;
  overflow-x: auto;

  .name {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
    height: 75px;
  }

  .name input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid white;
    font-size: 26px;
    border-radius: 4px;
  }

  .name:hover input,
  .name input:focus {
    border: 1px solid #e4e4e4;
  }

  .description {
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
  }
}

.historyLog {
  flex: 1 1 0;
  width: 100%;
  font-size: 13px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 32px;
  background-color: #fbfbfb;

  display: flex;
  flex-direction: column-reverse;

  .authorSpan {
    color: rgb(65, 105, 225);
  }

  > div:last-child {
    margin-top: 20px;
  }

  p {
    word-break: break-all;
    margin: 0;
  }

  .activity {
    color: #abaeb0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .date {
    font-size: 11px;
    font-weight: 400;
    flex-shrink: 0;
    margin: 0 0 0 10px;
    padding: 4px 0 0;
    color: #abaeb0;
  }
}

.commentingBar {
  box-sizing: border-box;
  flex: 0 0 60px;
  position: relative;
  width: 100%;
  border-top: 1px solid #dedede;
  border-radius: 0 0 12px 0;

  &::before {
    border-radius: 0;
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(
      -180deg,
      transparent 0%,
      rgba(0, 0, 0, 0.05) 100%
    );
  }

  form {
    height: 100%;
    border-radius: 0 0 12px 0;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 20px 10px;
    margin: 0;
    border-radius: 0 0 12px 0;
  }
}
