.task .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task .title .taskGroup-title {
  background-color: #579bfc;
  color: white;
  padding: 4px 8px;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-right: 15px;
  margin-top: auto;
  display: flex;
  align-items: center;
}

.task .title input {
  max-width: 160px;
  outline: none;
  border: none;
}

.task .title > div > p {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
}

.task .title .taskGroup-title svg {
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.7rem;
  display: none;
}

.task .title .attributes div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .title .attribute > p.task-amount {
  padding-bottom: 3px;
}

.task .title .attributes > div {
  cursor: auto;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  width: 121px;
}

.task .title .attribute > svg {
  opacity: 0;
  transition: opacity 0.2s;
  margin-left: 5px;
}

.task .title .attribute:hover > svg:last-of-type {
  opacity: 1;
}

.task .title .attributes > div:last-of-type {
  width: 40px;
}

.task .new-task {
  background-color: #eee;
  height: 26px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.task .new-task p {
  margin: 0 0 0 15px;
  font-size: 0.8em;
}

.task .new-task input {
  background-color: transparent;
  outline: none;
  padding: 0 20px;
  width: calc(100% - 10%);
}

.task .new-task button {
  background-color: #4169e1;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  height: 20px;
  width: 55px;
  border-radius: 2px;
  margin: 0 15px;
  transition: 0.1s;
}
