.subtitle {
  color: #7c828d;
}

.qrCode {
  height: 200px;
  width: 100%;
  padding: 20px 0;
}

.secret {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 300;
  font-size: 11px;
}
