.container {
  & > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 41px;
    padding: 6px 20px;
    box-sizing: border-box;
    width: 180px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #e4e4e4;
    }
    &:hover {
      background-color: #f9f9f9;
    }
    & > div {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & > p {
      font-size: 13px;
      font-weight: 400;
      color: #7b7b7b;
      padding: 8px 0 8px 10px;
      margin: 0;
    }
  }
  & i.fa-times {
    color: #fd71af;
  }
}
