body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.overlapShadow::before {
  border-radius: 0;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-image: linear-gradient(
    -180deg,
    transparent 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
}
